@model List<TodoListApp.Models.TodoItem>

	<h2>Список задач</h2>

	<form method="post" asp-action="Add">
		<input type="text" name="title" placeholder="Новая задача" required />
		<button type="submit">Добавить</button>
	</form>

	<br />

	<a href="/Todo">Все</a> |
	<a href="/Todo?status=active">Активные</a>
	<a href="/Todo?status=completed">Завершённые</a>

	<ul>
	@foreach (var item in Model)
	{
		<li>
			@item.Title
			@if (!item.IsCompleted)
			{
				<a href="/Todo/Complete/@item.Id">Завершить</a>
			}
			else
			{
				<span>(Готово)</span>
			}
		</li>
	}
</ul>